<!-- <% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <form action="/task/add" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="task[title]" id="title" placeholder="Enter title">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="task[description]" id="description" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label for="deadline" class="form-label">Deadline</label>
                <input type="datetime-local" style=display:block; name="task[deadline]" id="deadline">
              </div>
              <button class="btn btn-warning" style=background-color:#eb8934>Submit</button>
         </form>
    </div>
</div> -->
