<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-8 offset-2 d-flex justify-content-center">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <p class="h5 card-title d-flex justify-content-between">
                    <%= task.title %>
                    <% if (task.completed === 'on') { %>
                        <small><span class="badge bg-info rounded-pill mx-3">Completed</span></small>
                    <% } else if(Date.now() > new Date(task.deadline)){ %> 
                        <small><span class="badge bg-danger rounded-pill mx-3">Overdue</span></small>
                    <% } else { %>
                        <small><span class="badge bg-success rounded-pill mx-3">In Progress</span></small>
                    <% } %>                   

                </p>
              <p class="card-text"><%= task.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  Deadline: <%= dayjs(task.deadline).format('ddd, MMM D YYYY @ h:mm a') %> 
              </li>
            </ul>
            <div class="card-footer text-muted">
                Created: <%= dayjs(task.createdAt).format('ddd, MMM D YYYY @ h:mm a') %>
            </div>
          </div>
    </div>
</div>